<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ model | capitalize }} {{ id }}</title>
</head>
<body>

<h1>{{ model | capitalize }} {{ id }}</h1>

<strong>Store:</strong> {{ store }} <br>

<a href="/?witness={{ id }}">Witness</a> <br>

<h3>Fields</h3>
{% for key, value in fields %}
  <strong>{{ key | safe }}:</strong> {{ value | safe }}
  <br>
{% endfor %}

<h3>Body</h3>
<div id="content" class="container"><pre>{{ body | safe }}</pre></div>

{% if subdocuments %}
  <h3>Subdocuments</h3>
  {% for submodel, docs in subdocuments %}
    <h4><a href="/{{model}}/{{id}}/{{submodel}}">{{ submodel | capitalize }}</a></h4>

    <ul>
      {% for entry in docs %}
        <li>
          {% set url = "/" ~ submodel ~ "/" ~ entry.uuid %}
          {% if entry.name %}
            <a href="{{url}}">{{entry.name}}</a>
            <span class="alt-name">{{entry.store}} : {{entry.uuid}}</span>
          {% else %}
            {{entry.store}} : <a href="{{url}}">{{entry.uuid}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% endfor %}
{% endif %}

</body>
</html>
